@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.hide-space {
  font-size: 0;
  line-height: 0;
  letter-spacing: 0;
  word-spacing: 0;
  text-indent: 0;
  text-align: left;
  text-transform: none;
}

.header-border-bottom {
  box-shadow: inset 0px -1px 0px 0px #1c1c1c;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 99px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fee402;
  border-radius: 99px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ffee54;
}

.border-t-1 {
  border-top-width: 1px;
}

.rotate-225 {
  --tw-rotate: 225deg !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.-rotate-225 {
  --tw-rotate: -225deg !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.fi-su {
  background-image: url(../../utils/flags/su.svg) !important;
}

.fi-dd {
  background-image: url(../../utils/flags/dd.svg) !important;
}

.fi-wc {
  background-image: url(../../utils/flags/wc.svg) !important;
}

.fi-ol {
  background-image: url(../../utils/flags/ol.svg) !important;
}