@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-50: #feffe7;
  --color-primary-100: #faffc1;
  --color-primary-200: #faff86;
  --color-primary-300: #ffff41;
  --color-primary-400: #fff20e;
  --color-primary-500: #fee402;
  --color-primary-600: #d0a900;
  --color-primary-700: #a67a02;
  --color-primary-800: #895f0a;
  --color-primary-900: #744d0f;
  --color-primary-950: #442904;

  --color-secondary-50: #f6f6f6;
  --color-secondary-100: #e7e7e7;
  --color-secondary-200: #d1d1d1;
  --color-secondary-300: #b0b0b0;
  --color-secondary-400: #888888;
  --color-secondary-500: #6d6d6d;
  --color-secondary-600: #5d5d5d;
  --color-secondary-700: #4f4f4f;
  --color-secondary-800: #454545;
  --color-secondary-900: #3d3d3d;
  --color-secondary-950: #1c1c1c;

  --font-inter: 'Inter', sans-serif;
}

@source inline("sm:hidden md:hidden lg:hidden xl:hidden 2xl:hidden hidden sm:table-row md:table-row lg:table-row xl:table-row 2xl:table-row table-row");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.hide-space {
  font-size: 0;
  line-height: 0;
  letter-spacing: 0;
  word-spacing: 0;
  text-indent: 0;
  text-align: left;
  text-transform: none;
}

.header-border-bottom {
  box-shadow: inset 0px -1px 0px 0px #1c1c1c;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 99px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fee402;
  border-radius: 99px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ffee54;
}

.border-t-1 {
  border-top-width: 1px;
}

.rotate-225 {
  --tw-rotate: 225deg !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.-rotate-225 {
  --tw-rotate: -225deg !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.fi-su {
  background-image: url(../../utils/flags/su.svg) !important;
}

.fi-dd {
  background-image: url(../../utils/flags/dd.svg) !important;
}

.fi-wc {
  background-image: url(../../utils/flags/wc.svg) !important;
}

.fi-ol {
  background-image: url(../../utils/flags/ol.svg) !important;
}